name: 04 - Using Actions

on: push


jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Check out the code
              uses: actions/checkout@v4
            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'
            - name: Install dependencies
              run: npm install
              working-directory: 04-using-actions/react-app
            - name: Run tests
              run: npm test
              working-directory: 04-using-actions/react-app

        # 0.. Check out the code from the repository.
        # 1.. install dependencies of our React application
        # 2.. execute automated tests.
        # 3.. if tests are successful, build the application and deploy it.
    