name: 07 - Using Expressions

on:
  push:
  workflow_dispatch:
    inputs:
        debug:
            type: boolean
            default: false

jobs:
    echo:
        runs-on: ubuntu-latest
        steps:
            - name: '[debug] Print start-up'
              if: ${{ inputs.debug }}
              run: |
                echo "Triggered by: ${{ github.event_name }}"
                echo "Branch name: ${{ github.ref }}"
                echo "SHA of the commit: ${{ github.sha }}"
                echo "Runner OS: ${{ runner.os }}"
            - name: "[debug] Triggered by push to main branch"
              if: ${{ inputs.debug && github.ref == 'refs/heads/main' }}
              run: |
                echo "I was triggered by a push to the main branch!"
            - name: Greeting
              run: |
                echo "Hello, ${{ github.actor }}! This workflow was triggered by a ${{ github.event_name }} event."
